body {
    background-color: hsl(217, 28%, 15%); margin:5px;
}
li{
    list-style: none; display: inline-block; 
}
a{
    color: white;
}
nav{
    text-align: right; text-indent: 1cm; cursor:pointer;text-decoration-line: none;
}
h1{
    color: white; font-family: cursive;
}
#div1{
    text-align: center; line-height: 0.8cm;
}
.webtext{
    text-align: center; color: white; font-size:25px; font-family: corbel;
line-height: 0.2cm;
}
#div2{
    color: white;border-radius: 100px; font-family: corbel; 
    font-weight: bold;font-size: 25px; width: 200px; height: 90px;
    padding: 15px 20px; margin:40px 500px; 
    background-color:rgb(14, 187, 240); text-align: center;
}
#div3{
    text-align: center; width: 200px; height: 100px;
}
